/* ==================================================
reaet css
====================================================*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/ change colours to suit your needs /
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/ change colours to suit your needs /
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ==================================================
全体の設定
====================================================*/
.container {
  width: 1000px;
  margin: 0 auto;
}

section {
  padding: 60px 0;
}

body {
  color: #333;
  background-color: #f5f5f5;
}

svg {
  color: #666;
}

.blockFlex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

iframe {
  width: 500px !important;
}

/* ==================================================
parts
====================================================*/


.about-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 30px;
  border: 2px solid #992814;
  line-height: 1;
  color: #992814;
  font-size: 18px;
}

.about-btn:hover {
  background-color: #992814;
  color: #fff;
  transition-duration: 0.3s;
}

.inlineFlexWrapper {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.h1-title {
  text-align: center;
  margin-bottom: 60px;
  font-feature-settings: "palt";
  font-size: 50px;
  font-weight: 500;
  color: #330d07;
  font-family: "HG 教科書体", "kyoukashotai", "ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

.serif {
  font-family: YuMincho, '游明朝', serif;
}

.h1-title.underbar {
  font-size: 36px;
}

.h1-title.underbar::after {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #992814;
  display: block;
  margin: 20px auto 0;
}

/* ==================================================
header
====================================================*/
.fixed-header {
  position: fixed;
  z-index: 1000;
}

header {
  width: 100%;
  background-color: #330d07 !important;
  opacity: .9;
  position: fixed;
  height: 70px;
  z-index: 10000;
}

header h1,
header nav {
  color: #ddd;
}

header h1 {
  float: left;
  font-size: 26px;
  font-weight: 500;
  height: 70px;
  line-height: 70px;
}

header img {
  float: left;
  width: 70px;
}

header nav {
  float: right;
}

header li {
  float: left;
}

header .nav_link {
  color: #ddd;
  display: inline-block;
  position: relative;
  height: 70px;
  line-height: 70px;
  padding: 0 10px;
  transition-duration: .2s;
}

header .nav_link:hover {
  background-color: #661a0e;
  cursor: pointer;
}

/*header a::after{
  position: absolute;
  bottom: 1.0em;
  left: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .2s;
}

header a:hover::after{
  width: 100%;
}*/

/* ==================================================
footer
====================================================*/
footer {
  background-color: #330d07;
  color: #f6f6f6;
  line-height: 1.8;
}

footer a {
  color: #f6f6f6;
  line-height: 1.8;
}

footer a:hover {
  text-decoration: underline;
}

footer .schoolInfo {
  padding: 60px 0;
  float: left;
}

footer .sitemap {
  padding: 60px 0;
  float: right;
}

footer .sitemap .parent-li {
  float: left;
  margin-right: 20px;
}

footer .child-ul {
  margin-left: 10px;
}

footer .child-li {
  font-size: 14px;
}

footer .header-li {
  font-weight: bold;
  font-size: 14px;
}

footer h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 400;
}

footer h3 {
  font-size: 18px;
  margin-bottom:10px;
}

footer p {
  line-height: 1.8;
}

footer svg {
  color: #f6f6f6;
}

footer .copyRight {
  font-size: 12px;
  color: #ccc;
  padding-bottom: 30px;
}

footer .copyRight p:first-child {
  float: left;
}

footer .copyRight p:last-child {
  float: right;
}


/* ==================================================
index.html
====================================================*/

.mainPic {
  padding-top: 70px;
}

.mainPic img {
  width: 100%;
}

#about {
  margin-top: 30px;
  /*background-color: #fff;*/
}

#about p {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 100;
  color: #444;
}

#about .container {
}

#about {
  padding: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#about .container {
  position: relative;
  width: 1100px;
  padding: 60px;
  z-index: 2;
}

#about .gradient {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f5f5f5+69&0+0,1+69 */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(245,245,245,1) 69%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 69%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 */
}

#about .img {
  position: absolute;
  height: 600px;
  top: -20px;
  z-index: 0;
}

#about img {
  height: 100%;
}

#about .left {
  float: left;
  width: 50%;
}

#about .right {
  float: right;
  width: 50%;
}

#menuePerViwer {
  /*background-color: #f7f7f7;*/
}

#menuePerViwer .shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  width: 270px;
  height: 212px;
  background-color: #fff;
}

#menuePerViwer h2 {
  text-align: center;
  height: 48px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  line-height: 48px;
  font-weight: 400;
  opacity: .8;
}

#menuePerViwer h2.first {
  background-color: #FF5722;
}
#menuePerViwer h2.second {
  background-color: #8BC34A;
}
#menuePerViwer h2.third {
  background-color: #2196F3;
}

#menuePerViwer ul {
  padding: 10px 0;
}

#menuePerViwer a {
  color: #333;
  text-decoration: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  transition-duration: .15s;
}

#menuePerViwer a:hover {
  color: #ccc;
}

#news {
  /*background-color: #fff;*/
}

/*#news .container {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  background-color: #fff;
  padding: 60px 0;
  width: 100%;
}*/

#news ul {
  width: 800px;
  margin: 0 auto;
}

#news li {
  border-bottom: 1px dashed #b4bfe0;
  padding: 0px 10px;
}

#news a {
  transition-duration: .15s;
}

#news li a:hover {
  color: #ccc;
}

#news li .date {
  float: left;
  width: 180px;
}

#news li .detail {
  float: right;
  width: 600px;
}

#news li .date,
#news li .detail {
  height: 57px;
  line-height: 57px;
}

#curse {
  position: relative;
  /*background-color: #f2f0f0;
  z-index: -1;*/
  /*下二つコメントインで背景全体がグレーに*/
}

#curse::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  display: block;
  width: 100%;
  height: 113px;
  /*background-color: #fff;*/
  background-color: #dfdfdf;
  z-index: -2;
}

#curse li {
  width: 315px;
  height: 210px;
  margin-right: 20px;
}

#curse li:last-child {
  margin-right: 0;
}

#curse .innerWrapper {
  height: 100%;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
  position: relative;
}


#curse .img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  line-height: 1;
  overflow: hidden;
}

#curse img {
  width: 100%;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#curse a:hover img {
  transform: scale(1.05, 1.05);
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#curse .overRay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#curse a:hover .overRay {
  background-color: #fff;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#curse .box,
#curse .boxInner {
  width: 100%;
  height: 100%;
}

#curse .inner {
  position: relative;
  display: table;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  box-sizing: border-box;
  text-align: center;
}

#curse a:hover .inner {
  border: 1px solid #b81a35;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#curse .text {
  padding-bottom: 1px;
  border-bottom: 1px solid #fff;
  font-size: 22px;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin-top: 65px;
}

#curse a:hover .text {
  color: #b81a35;
  border-bottom: 1px solid #b81a35;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#access {
  background-color: #fff;
}

#access .accessInfo {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
}

#access .map {
  float: right;
}

#access .accessInfo p {
  line-height: 1.8;
}

#access .address {
  margin-top: 30px;
}

#access table:first-child {
  margin-right: 30px;
}

#access tr {
  border-bottom: 1px solid #ccc;
}

#access th,
#access td {
  padding: 15px 0;
}

#access th {
  padding-right: 20px;
  font-size: 16px;
}
